<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>URL Shortener</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <h1>URL SHORTENER</h1>

    <form action="/" method="post">
      <div>
        <label for="url">Enter URL:</label>
        <input type="url" name="url" id="url" required>
      </div>
      <div>
        <label for="shortcode">Enter shortcode:</label>
        <input type="text" name="shortcode" id="shortcode">
      </div>
      <button type="submit">Shorten</button>


    </form>

    <h2>Shortened URLs</h2>
    <ul>{{shortened_urls}}</ul>
  </div>

  <script>


    //   const fetchShortURL = async () => {
    //     try {
    //       const response = await fetch("/links");
    //       const links = await response.json();
    //       console.log("Links:", links);

    //       const ul = document.getElementById('shortened-urls');
    //       ul.innerHTML = '';

    //       Object.entries(links).forEach(([shortcode, url]) => {
    //         const li = document.createElement('li');

    //         const truncatedURL = url.length > 30 ? url.slice(0, 30) + '...' : url;

    //         li.innerHTML = `
    //   <a href="${window.location.origin}/${shortcode}" target="_blank">
    //     ${window.location.origin}/${shortcode}
    //   </a> - ${truncatedURL}
    // `;
    //         ul.appendChild(li);
    //       });

    //     } catch (error) {
    //       console.log(error);
    //     }

    //   }


    //   document.getElementById('shorten-form').addEventListener('submit', async (event) => {
    //     event.preventDefault();

    //     const formData = new FormData(event.target);
    //     const url = formData.get("url");
    //     const shortcode = formData.get("shortcode");




    //     try {
    //       const response = await fetch("/shorten", {
    //         method: "POST",
    //         headers: { "Content-Type": "application/json" },
    //         body: JSON.stringify({ url, shortcode })
    //       });

    //       const result = await response.json();

    //       if (response.ok) {
    //         fetchShortURL();
    //         alert(`Shortened! Code: ${result.shortcode}`);
    //         event.target.reset();
    //       } else {
    //         alert(`Error: ${await response.text()}`);
    //       }
    //     } catch (error) {
    //       console.error("Fetch error:", error);
    //     }
    //   });

    //   fetchShortURL();
  </script>
</body>

</html>