<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="../../authCss/auth.css">
</head>

<body>
  <%- include("../partials/header.ejs", { title: "Login Page" }) %>

    <div class="container">
      <h2>Login</h2>
      <form action="/login" method="POST">
        <input type="email" name="email" placeholder="email" required />
        <input type="password" name="password" placeholder="Password" required />
        <label><input type="checkbox" name="remember" /> Remember me</label>
        <button type="submit">Log in</button>
      </form>
      <p>Don't have an account? <a href="/register">Register</a></p>
    </div>

    <%- include("../partials/footer.ejs") %>

</body>

</html>